.error-message-container{
    margin-top: 500px;
    display: flex;
    justify-content: center;
}

.error-message{
    font-size: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}